.navbar-brand{
	padding-bottom:50px;
}
img#icone{
	position:absolute;
	left: 730px;
	top: 235px;
	max-width:200px;
    max-height:150px;
    width: auto;
    height: auto;
}
img#icone-pesquisa{
	max-width:30px;
    max-height:30px;
    padding:0px;
}
img#icone-titulo{
	max-width:30px;
    max-height:30px;
    padding:0px;
}
h1#cadastro{
	text-align: center;
	font-family:calibre;
	font-weight: bold;
	
}
.panel-default{
	margin-left:10px;
	margin-right:10px;
}
.panel-title{
	font-family:arial;
	font-weight: bold;
	font-size: 15pt;
	margin:0px;
}
.form-horizontal{
	margin:0px 400px 0px 400px auto;
}

.alert{
	background-color:#a5d6a3;
	margin-left:10px;
	margin-right:10px;
	margin-top:-15px;
	border-color: green;
}

.aw-link-panel{
	float:right;
	padding:0px;
}

.aw-titulo-panel{
	float:left;
	padding:0px;
}