<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="LayoutPadrao">
	<head>
		<title>Cadastro de Títulos</title>
	</head>
	<section layout:fragment="conteudo" th:object="${titulo}">
		<h1 id="cadastro">Cadastro De Títulos</h1>

		<!-- criando um formulario, método POST e vai ser enviado pelo action para "/titulos" -->
		<form class="form-horizontal" method="POST" action="/titulos">
			<div class="panel panel-default">
				<div class="panel-heading">
					<!-- o clearfix ajuda a alinhar elementos -->
					<div class="clearfix">
						<h3 class="panel-title aw-titulo-panel"><img id="icone-titulo" src="/imagens/titulo.png"/> Novo Título</h3>
						<a class="btn btn-link aw-link-panel" href="/titulos">Voltar Para Pesquisa</a>
					</div>
				</div>
				<div class="panel-body">
					
					<div class="form-group" th:classappend="${#fields.hasErrors('descricao')} ? has-error">
						<label for="descricao" class="col-sm-2 control-label">Descrição</label>
						<div class="col-sm-7">
							<!-- th:field referencia ao th:object para manter o valor no campo em caso de erros -->
							<input type="text" class="form-control" id="descricao" th:field="*{descricao}"/>
						</div>
					</div>
					<div class="form-group" th:classappend="${#fields.hasErrors('dataVencimento')} ? has-error">
						<label for="dataVencimento" class="col-sm-2 control-label">Data De Vencimento</label>
						<div class="col-sm-4">
							<input type="text" class="form-control" id="dataVencimento" th:field="*{dataVencimento}"/>
						</div>
					</div>
					<div class="form-group" th:classappend="${#fields.hasErrors('valor')} ? has-error">
						<label for="valor" class="col-sm-2 control-label">Valor R$</label>
						<div class="col-sm-4">
							<input type="text" class="form-control" id="valor" th:field="*{valor}"/>
						</div>
					</div>
					<div class="form-group">
						<label for="status" class="col-sm-2 control-label">Status</label>
						<div class= "col-sm-4">
							<select class="form-control" name="status">
								<!-- usando o TL, o status será chamado diretamente da classe StatusTitulo, quando 
								for preciso adicionar mais opções o inclusão será feita lá -->
								<option th:each="status :${todosStatusTitulo}" th:value="${status}" th:text="${status.descricao}"></option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<button type="submit" class="btn btn-primary">Salvar</button>
						</div>
					</div>
				</div>
			</div>
		</form>	
		<div layout:include="Mensagem"></div>
		
	</section>
</html>