<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
      
      <!-- criando alerta de erro -->
	<div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
		<div th:each="detailedError : ${#fields.detailedErrors()}">
			<strong th:text="${detailedError.message}"></strong>
		</div>
	</div>
	<!-- criando uma alerta de aviso pelo bootstrap vamos usar uma alerta de sucesso -->
	<div class="alert alert-sucess alert-dismissible" th:if="${!#strings.isEmpty(mensagem)}">
  		<strong th:text="${mensagem}"></strong> 
	</div>
</html>