<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="LayoutPadrao">
	<head>
		<title>Pesquisa de Títulos</title>
	</head>
	<!-- Criando a sessão que será inserida ao layout -->
	<section layout:fragment="conteudo">
		<h1 id="cadastro">Pesquisa De Títulos</h1>
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="clearfix">
					<h3 class="panel-title aw-titulo-panel"><img id="icone-pesquisa" src="/imagens/pesquisar.png"/> Pesquisar Títulos</h3>
					<a class="btn btn-link aw-link-panel" href="/titulos/novo">Novo Título</a>
				</div>
			</div>
			<div class="panel-body">
				<table class="table table-bordered table-striped">
					<thead>
						<tr>
							<th class="text-center col-md-1">#</th>
							<th>Descrição</th>
							<th class="text-center col-md-2">Data de Vencimento</th>
							<th class="text-right col-md-2">Valor</th>
							<th class="text-center col-md-2">Status</th>
							<th class="text-center col-md-1">Ações</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="titulo:${titulos}">
							<td class="text-center" th:text="${titulo.codigo}"></td>
							<td th:text="${titulo.descricao}"></td>
							<td class="text-center" th:text="${{titulo.dataVencimento}}"></td>
							<td class="text-right" th:text="|R$ ${{titulo.valor}}|"></td>
							<td class="text-center">
								<!-- Criando os labels de status -->
								<span class="label" th:text="${titulo.status.descricao}"
								th:classappend="${titulo.pendente ? 'label-danger':'label-success'}"></span>
							</td>
							<td class="text-center">
								<!-- criando o botão, th@ cria um link auqe aponta para titulos/o codigo que vai buscar
								a referencia em titulo.codigo -->
								<a class="btn btn-link btn-xs" th:href="@{/titulos/{codigoSelecionado}(codigoSelecionado=${titulo.codigo})}">
									<span class="glyphicon glyphicon-pencil"></span>
								</a>
							</td>
						</tr>
						<tr>
							<td colspan="6" th:if="${#lists.isEmpty(titulos)}">Nenhum Título Foi Encontrado!</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</section>
</html>