<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8"/>
		<title>Pesquisa de Títulos</title>
		<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="/css/style.css"/>
	</head>
	
	<body>
		<script src="/js/jquery-3.2.1.min.js" type="text/javascript"></script>
		<script src="/js/bootstrap.min.js" type="text/javascript"></script>
		<nav class="navbar navbar-inverse navbar-static-top">
  			<div class="container-fluid">
    			<div class="navbar-header">
      				<a class="navbar-brand" href="#">
        				<img alt="Negocios" src="/imagens/negocios.jpg"/>
      				</a>
    			</div>
  			</div>
		</nav>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Novo Título</h3>
			</div>
			<div class="panel-body">
				<table class="table table-bordered table-striped">
					<thead>
						<tr>
							<th class="text-center col-md-1">#</th>
							<th>Descrição</th>
							<th class="text-center col-md-2">Data de Vencimento</th>
							<th class="text-right col-md-2">Valor</th>
							<th class="text-center col-md-2">Status</th>
							<th class="text-center col-md-1">Ações</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td colspan="6"> SEM TÍTULOS</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		
	</body>
	
	

</html>